@use '@angular/material' as mat;

$grey200: mat.define-palette(mat.$grey-palette, 300);

.car-properties_wrapper {
    display: flex;
    column-gap: 20px;
    align-items: end;

    .inputs-group_wrapper {
        display: flex;
        column-gap: 20px;

        .input_wrapper {
            display: flex;
            flex-direction: column;

            input {
                background-color: mat.get-color-from-palette($grey200);
                border-radius: 5px;

                &.input-name {
                    width: 200px;
                    height: 30px;
                }

                &.input-color {
                    height: 34px;
                }
            }
        }
    }
}