<div #carRace class="car-item_wrapper" [class.colored]="!(index % 2)">
  <div class="car_buttons_wrapper">
    <button
      mat-flat-button
      color="warn"
      [disabled]="isRace"
      (click)="onDelete(car.id)"
    >
      Delete
    </button>
    @if (!isBeingUpdated) {
      <button
        mat-flat-button
        color="primary"
        [disabled]="isRace"
        (click)="onUpdate()"
      >
        Update
      </button>
    } @else {
      <div class="update-form_wrapper">
        <app-car-properties-form
          [initialColor]="car.color"
          [initialName]="car.name"
          title=""
          buttonName="Save"
          (formSubmitted)="onSaveUpdates($event, car.id)"
        ></app-car-properties-form>
        <button mat-flat-button color="warn" (click)="onCancel()">
          Cancel
        </button>
      </div>
    }
  </div>
  <h3 [class.hidden]="isBeingUpdated">{{ car.name }}</h3>
  <div class="engine_button_wrappers">
    <button
      mat-icon-button
      color="primary"
      aria-label="Start engine"
      [disabled]="car.engineStatus !== engineStatusEnum.Init"
      (click)="onStartEngine()"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Stop engine"
      [disabled]="car.engineStatus === engineStatusEnum.Init || isRace"
      (click)="onStopEngine()"
    >
      <mat-icon>stop</mat-icon>
    </button>
  </div>
  <img class="flag" src="assets/racing-flag.svg" />
  <div class="car_wrapper">
    <app-car-image
      class="car_image"
      [color]="car.color"
      [width]="100"
    ></app-car-image>
  </div>
</div>
