<p class="page_information">
  Total number of winners : <b>{{ winnersCount$ | async }}</b>
</p>
<p class="page_information">
  Total number of pages: <b>{{ pageCount$ | async }}</b>
</p>
<div class="pagination_buttons_wrapper">
  <button
    mat-button
    color="accent"
    [disabled]="(currentPage$ | async) === 1"
    [routerLink]="['/winners', (currentPage$ | async) - 1]"
  >
    Previous page
  </button>
  <span> {{ currentPage$ | async }} </span>
  <a
    mat-button
    color="accent"
    [disabled]="(currentPage$ | async) >= (pageCount$ | async)"
    [routerLink]="['/winners', (currentPage$ | async) + 1]"
  >
    Next page
  </a>
</div>
